.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
  gap: 50px;
}

.home-route {
  background-color: var(--background-color-light);
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.home-route:hover {
  box-shadow: 0px 2px 35px -5px #cc0f51;
  -webkit-box-shadow: 0px 2px 35px -5px #cc0f51;
  -moz-box-shadow: 0px 2px 35px -5px #cc0f51;
}

.home-route a {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }
}
